
body{
   margin-top: 10px;
    background:white;
}

img{
    border-radius:10% ;
    
}

header{
    animation:slidein 3s steps(30);
}

header{
    display:block;
    text-align: center;
    gap:10px;
    border: 2px solid #9B8EC7;
    border-radius:2%;
    background: #BDA6CE;
    height: 425px;
    padding:10px;
    margin:auto ;
}

#AboutMe, #Ilove, #funfact, #skills {
    width: 1250px;
    margin: auto;
    border:2px solid #9B8EC7;
    border-radius:20px;
    background: #BDA6CE;
    margin-top: 10px;
    padding:10px;
}


#Educ ul {
    list-style: none;
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0 auto;
    overflow: hidden;
    width:600px;
}

#Educ li{
    display: block;
    border:2px solid #9B8EC7;
    color:black;
    background: #BDA6CE;
    text-align: left;
    margin: 5px auto;
    padding:8px;
    border-radius: 50px;
    width: 500px;
    
}

#Educ h2{
    color: #9B8EC7;
}

#Educ{
    width: 900px;
    margin: auto;
    border:2px solid #9B8EC7;
    border-radius:20px;
    padding:10px;
    margin-top: 10px;
    list-style: none;
    text-align:center;
}

#lang, #contact{
    width: 900px;
    margin: auto;
    border:2px solid #9B8EC7;  
    border-radius:20px;
    padding:10px;
    margin-top: 10px;
    text-align: center;
}

#Porjects li,#Finals li{
    list-style: none;
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
    overflow: hidden;
    width:600px;
}

#Porjects li a,#Finals li a{
    text-decoration: none;
    display: block;
    border:2px solid #9B8EC7;
    color:black;
    background: #BDA6CE;
    text-align: left;
    margin:5px;
    padding:8px;
    border-radius: 50px;
    width: 200px;
    
}

#Porjects a:link,#Finals a:link{
    background: #BDA6CE;

}
#Porjects a:hover,#Finals a:hover{
    background: #9B8EC7;
    width: 45%;
    animation:glitch;
}


#Porjects a:visited,#Finals a:visited{
    background: #775192;
    
    
}
        
#Porjects a:active,#Finals a:active{
    background: violet;
} 


#tasks{
    display:flex;
    gap: 10px;
    margin:auto;
    width: 1250px;
    border:2px solid #9B8EC7;
    background-color: #BDA6CE;
    border-radius:20px;
    padding:15px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    

}
#Porjects,#Finals {
    width: 300px;
    border:2px solid #9B8EC7;
    background: white;
    border-radius:20px;
    padding:10px;
    margin-top: 50px;
    text-decoration:none underline;
    
}

#Ilove, #funfact, #skills,#Educ,#tasks,#lang{
    animation:fadeUp 1s linear;
    animation-timeline:view();   
    animation-range:entry 0% cover 40%;
}

#Ilove, #funfact, #skills,#Educ,#tasks,#lang{
    animation:fadeDown 1s linear;
    animation-timeline:view();   
    animation-range:entry 0% cover 40%;
}


@keyframes slidein{
    from{
        opacity:0;
        transform:translate(0 px) scale(0.5);
        
    }
    to{
        opacity:1;
        transform:translate(40 px) scale(0.5);
    }
}


@keyframes fadeUp{
    from{
        opacity:0;
        transform:translate(40 px) scale(0.5);
    }
    to{
        opacity:1;
        transform:translate(40 px) scale(0.5);

    }
}

@keyframes fadeDown{
    from{
        opacity:0;
        transform:translate(40 px) scale(0.5);
    }
    to{
        opacity:1;
        transform:translate(40 px) scale(0.5);

    }
}


 @media screen and (max-width:800px){
    header,#AboutMe, #Ilove, #funfact, #skills,#Educ,#Educ li,#Educ ul,#tasks,#Porjects,#Finals,#Porjects li,#Finals li,#Porjects li a,#Finals li a,#lang, #contact, #IF{
         width: 95%;
    }
}

